accelerate
bitsandbytes
datasets
evaluate
huggingface-hub
loguru
nltk
numpy
optimum
pandas
peft
pyarrow
requests
sacrebleu
safetensors
scikit-learn
sentencepiece
tokenizers
torch
transformers
triton
unbabel-comet
wandb
